/* =================================
   CSS Styles for Workshop 01
   ================================= */

/* TODO Task 2: Add your general styles here */

/* Reset and Base Styles */
* {
    /* Add your reset styles here (margin, padding, box-sizing) */
    padding: 2px;
    box-sizing: border-box;
    margin: 10px;
}

body {
    /* Add body styles:  font-family, background-color, color, etc. */
    background: #B57EDC; 
}

/* TODO Task 2: Style your headings */
h1 {
    color: #D8B4E2;
    font-family: "Roboto", serif;
    font-size: 35px;
}

h2 {
    color: aqua;
    font-size: 20px;
}

/* TODO Task 2: Style your paragraphs */

#about {
    max-width: 40%;
}

p {
    font-family: "Roboto", serif;
    white-space: pre-line;
}

/* TODO Task 2: Style your images */
img {
    max-width: 250px;
    box-shadow: 0 0 2px 1px rgba(216, 180, 226, 0.8);
    border-radius: 6.2px;
    padding: 0;
    margin: 0;
}

/* TODO Task 3: Navigation Styles */
nav {
    width: fit-content;
    max-width: 100%;
}

nav ul {
    /* Remove bullets and style the list */
    list-style-type: none;
    display: flex;
}

nav li {
    /* Display items horizontally */
    padding: 10px;
    background-color: #D8B4E2;
}

nav a {
    /* Style the links */
    text-decoration: none;
    color: #8A2BE2;
}

nav a:hover {
    /* Add hover effect */
    color: #8e50c9;
}

/* Main Content Styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section {
    /* Add spacing between sections */
}

/* TODO Task 4: Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: "Roboto", serif;
}

input,
textarea {
    /* Style form inputs */
    padding-left: 5px;
    height: 30px;
    border: 0px;
    border-radius: 9px;
    resize: vertical;
    background-color: rgb(230, 230, 230);

}

button,
input[type="submit"] {
    /* Style the submit button */
    border: none;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    background-color: #8151a3d9;
    height: 100%;
    min-width: 40px;
    min-height: 20px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    /* Add hover effect for button */
    background-color: #9445ccd9;
}



/* Footer Styles */ 
/*
footer {
    
}*/

/* TODO Task 5: Media Queries for Responsive Design */
/* Tablet styles (optional) */
@media (max-width: 768px) {
    /* Add your tablet/mobile styles here */
    * {
        padding: 1px;
        margin: 2px;
        font-size-adjust: 0.4;
    }
    
    nav ul {
        flex-direction: column;
    }
    
    img {
        max-width: 100%;
    }
}

/* Mobile styles */
@media (max-width:  480px) {
    /* Add your mobile-specific styles here */
    
}